/* body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.cuerpo{
	background-color:#87CEEB; 
	padding: 10px 30px 10px 10px ;	
	height: 505px;
}
*/
/* -------------------------------estilo para formularios----------- */	
/* fif = forminputfield 
   fs  = formselect
   fib = forminputbutton
   fl  = fieldlabel
*/
/*
fieldset{
	color: #666;
	font: 11px Arial;
	border: solid 1px #d0d0d0;
}
legend{
	color: #666;
	font: 12px Arial;
	font-weight: bold;
	padding: 3px;
}

label, input, select, textarea {
	margin-bottom: 5px;
	margin-right: 5px;
}

label{
	margin-right: 10px;
	width: 100px;
	float: left;
	text-align: right;
	padding: 2px;
}
input.fif{
	border: solid 1px #f66;
	background-color: #fee;
	color: #333;
}
input.fif:hover{
	background-color: #ccffff;
	border: solid 1px #006600;
	color: #000;
}
textarea.fif{
	border: solid 1px #f66;
	background-color: #fee;
	color: #333;
}
textarea.fif:hover{
	background-color: #ccffff;
	border: solid 1px #006600;
	color: #000;
}
select.fs{
	border: solid 1px #f66;
	background-color: #fee;
	color: #333;
	cursor: pointer;
}
select.fs:hover{
	background-color: #ccffff;
	cursor: pointer;
	color: #000;
}
input.fib{
	border: solid 1px #366;
	background-color: #399;
	color: #300;
	text-align: center;
	vertical-align: middle;
}
input.fib:hover{
	background-color: #3aa;
}
*/
/*
    Document   : solicitudEmpleo
    Created on : 06/02/2009, 03:00:26 PM
    Author     : oamesty
    Description:
        Purpose of the stylesheet follows.
*/


body{
	font-family: Arial, verdana, Helvetica, sans-serif;
	font-size:13px;
    
	background: #ffffff url('../images/escudo_de_luz_claro.png') no-repeat fixed center;
}
img {
	border:0px;
}
.cuerpo{
/*	padding: 10px 30px 10px 10px;
	padding-top: 100px;
	background: #ffffff url('../images/cabecera.jpg') no-repeat fixed top;
	background: #ffffff url('../images/cabecera.jpg') no-repeat scroll center;*/
}

table {
	text-align: left;
	/*width:100%;*/
}
.th {
	background-color: silver;
	font-weight: bold;
}
hr{
  	border: solid 1px #dddddd;
}
/* -------------------------------estilo para formularios----------- */
/* fif = forminputfield
   fs  = formselect
   fib = frominputbutton
   fl  = fieldlabel
*/
fieldset{
	color: #666;
	background: transparent url('../images/color_dependencia.png') repeat-x left top;
	padding-top: 6px;
	border: solid 1px #dddddd;
	border-bottom: solid 8px #dddddd;
	margin: 10px 10px 10px 10px;
}
legend{
	color: #666;
	font: 18px Arial;
	font-weight: bold;
	background-color: #ffffff;;
	padding: 2px;
}
label{
	text-align: right;
	display: block;
	margin-right: 10px;
	position: relative;
	width: 150px;
	float: left;
}
label.fl{
	display: inline;
	float: none;
}
input.fif{
	border: solid 1px #bba;
	background-color: #fff;
	color: #333;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 2px;
    max-width: 300px;
}
input.fif:hover{
	background-color: #fff;
	border: solid 1px #665;
	color: #000;
}
textarea.fif{
	border: solid 1px #bba;
	background-color: #fff;
	color: #333;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 2px;
}
textarea.fif:hover{
	background-color: #eed;
	border: solid 1px #665;
	color: #000;
}
select.fs{
	border: solid 1px #bba;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 2px;
    max-width: 300px;
}
select.fs:hover{
	background-color: #fff;
	border: 1px solid #665;
	cursor: pointer;
	color: #000;
}
input.fib{
/*	border: solid 1px #000;
	background-color: #aaa;
	color: #300;
	text-align: center;
	vertical-align: middle;*/
}
input.fib:hover{
/*	background-color: silver;*/
}


.boton{
   	border: solid 1px #000;
	background-color: #aaa;
	color: #300;
	text-align: center;
	vertical-align: middle;
    padding:2pt;
    cursor:pointer;
   	display: block;
	padding: 3px 6px;
    width:80%;

}
.boton:hover{
	background-color: silver;
}

.seleccionable{
    cursor:pointer;
}
.seleccionable:hover{
    font-size:larger;
    text-decoration:underline;
	background-color: silver;
}

.contenedor{
    width: 100%;
/*    text-align: left;*/
}
.izq{
    width: 45%;
    float: left;
}
.der{
/*    margin-left: 50%;*/
    width: 45%;
    float:right;
    text-align: right;
}

#logotipo   {
    float:left;
    background-image: url('../images/rrhh_head.jpg');
    height: 70px;
    width:152px ;
}
#publicidad {
    width:100% ;
    height: 70px;
    background-image: url('../images/rrhh_tile.gif');
    background-repeat: repeat-x;
    text-align: right;
    color: #114d7f;
    font-size: 12pt;
  
}
#pie {
    width:100% ;
    background-image: url('../images/rrhh_tile_pie.gif');
    background-repeat: repeat-x;
    text-align: center;
    color: #114d7f;
    font-size: 8pt;
position: fixed;
bottom: 0;
bottom: -1px;
    height: 15px;
    padding-top: 10px;
    padding-bottom: 0;
}

#contenedor {
position: relative;
min-height: 100%;
height: auto;
height: 100%;
}
